

body {
  background-color: rgba(175, 115, 65, 0.603);
}

h1 {
  color: navy;
  margin-left: 20px;
  margin-top: 20px;
}

h3 {
  color: red;
}

p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
}